<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nodeschool Toronto Chapter">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <title>Nodeschool Toronto</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href="styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="nav">
      <ul>
        <li><a href="#" class="ir home" data-text="Home">Home</a></li>
        <li><a href="#community" class="ir community" data-text="Community">Community</a></li>
        <li><a href="#events" class="ir events" data-text="Events">Events</a></li>
        <li><a href="#faq" class="ir faq" data-text="FAQ">Frequently Asked Questions</a></li>
        <li><a href="#mentors" class="ir mentors" data-text="Mentors">Mentors</a></li>
        <li><a href="#photos" class="ir photos" data-text="Photos">Photos</a></li>
        <li><a href="#codeofconduct" class="ir code" data-text="Code of Conduct">Code of Conduct</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <main class="main cf">

      <section class="panel text">

        <div class="container">

          <!-- Header -->
          <div class="header">

            <a class="logo" href="https://ti.to/nodeschool-toronto/november-2015"><img src="i/nodeschool-toronto-logo.svg" alt="NodeSchool Toronto Logo"></a>

            <h1>Welcome to<br> NodeSchool Toronto</h1>

          </div>

          <h2 id="community">Community</h2>
          <p>The NodeSchool community is <strong>open to anyone</strong>. Whether you're able to attend an event or not, you can join the discussion around learning Node in our Slack channel or by following us on Twitter.</p>

          <p>
          <script async defer src="https://nodeschool-toronto-slackin.herokuapp.com/slackin.js"></script>
          <a href="https://twitter.com/NodeSchoolTO" class="twitter-follow-button" data-show-count="false">Follow @NodeSchoolTO</a></p>

          <h2 id="events">Events</h2>
          <p><strong>NodeSchool Toronto</strong> events are run by an enthusiastic group of volunteers. The workshops will be held monthly and will always be free.</p>
          <p>The events offer a low-key environment to learn or practice Node and are generally three hours long.</p>

          <h2 id="faq">Frequently Asked Questions</h2>

          <h3>"What should I expect?"</h3>
          <p>NodeSchool is a self-directed learning environment, where you bring your own laptop to learn. The intention is for attendees to work on the Node workshops from <a href="http://nodeschool.io/#workshopper-list" target="_blank">nodeschool.io</a>. But if you have a personal project you are working on, do it! The goal of NodeSchool is to help people explore and learn Node. There will be mentors on hand at the events to help you when you hit any road blocks.</p>

          <h3>"How do I install Node?"</h3>
          <p>Our recommended way to install Node is through something called "Homebrew".</p>
          <p class="indent"><strong>1.</strong> Install Homebrew by copying the following command into a terminal/bash prompt:</p>
          <code class="terminal"><pre>$ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</pre>
          </code>
          <p class="indent"><strong>2.</strong> Once installed, run <code>brew install node</code> which should install the latest version of Node.</p>
          <p>If you have any issues installing either Homebrew or Node no worries. We'll do our best to help you get set up once you arrive at an event.</p>

          <h3>"What is a Workshopper?"</h3>
          <p>Workshopper is the name used for the open source lesson modules associated with NodeSchool. All are self guided (you don't need to attend a workshop to do one) and most work offline.</p>

          <h3>"How do I run a Workshopper?"</h3>
          <p> To get started with a Workshopper tutorial you'll have to install and then run that program in terminal/bash. Here's an example of how to install and run the Beginner Node Workshopper:</p>
          <code class="terminal">
            <pre>$ npm install -g learnyounode</pre>
            <pre>$ learnyounode</pre>
          </code>

          <h2 id="codeofconduct">Code of Conduct</h2>

          <p>We, the organizers of <strong>NodeSchool Toronto</strong>, are dedicated to providing a harassment-free community for everyone, regardless of sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs. We do not tolerate harassment of community members in any form. Participants violating these rules may be sanctioned or expelled from the community at the discretion of the organizers of <strong>NodeSchool Toronto</strong>.</p>

          <p>Harassment includes offensive verbal or written comments related to sex, gender identity or expression, sexual orientation, disability, physical appearance, age, body size, race, nationality, or religious beliefs, deliberate intimidation, threats, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Sexual language and imagery is not appropriate for any events at <strong>NodeSchool Toronto</strong> meetups or in any related communication channels. Community members asked to stop any harassing behavior are expected to comply immediately. Sponsors and presenters are also subject to the anti-harassment policy.</p>

          <p>If a community member engages in harassing behavior, the organizers of <strong>NodeSchool Toronto</strong> may take any action they deem appropriate, including warning the offender or expulsion from the community. If you are being harassed, notice that someone else is being harassed, or have any concerns, please contact an organizer immediately.</p>

          <!-- Footer -->
          <div class="footer">

            <h2 id="credit">Credits</h2>

            <p class="credit">The NodeSchool Toronto Hex Logo was kindly designed by <a href="http://willduart.com/">Will Du</a>.</p>

            <p class="links">
              <a href="https://ti.to/nodeschool-toronto" title="NodeSchool Toronto Event">Events</a>
              <span class="divider">|</span>
              <a href="https://twitter.com/NodeSchoolTO" title="NodeSchool Toronto Twitter">Twitter</a>
              <span class="divider">|</span>
              <a href="https://github.com/nodeschool/toronto" title="NodeSchool Toronto GitHub">GitHub</a>
              <span class="divider">|</span>
              <a href="http://nodeschool.io/" title="NodeSchool">NodeSchool.io</a>
            </p>

          </div>

        </div>

      </section>

      <aside class="panel side">

        <div class="container">

          <div class="inner">

            <!-- nodeschoo.io info -->

            <a class="logo" href="http://nodeschool.io">
              <img src="i/schoolhouse-beige.svg" alt="NodeSchool Logo">
              <p class="about"><strong>NodeSchool</strong> is a selection of open source workshops that teach web software skills. You can do them on your own or at one of the monthly <strong>NodeSchool Toronto</strong> events.</p>
            </a>

            <!-- event badge -->

            <div class="event">
              <p class="register">
                <strong>Register</strong> for our event on <strong>Saturday, November 21st</strong>
              </p>
              <tito-widget event="nodeschool-toronto/november-2015"></tito-widget>
              <p class="location">
                <strong>Location:</strong>&nbsp; Shopify 4th Floor - 80 Spadina Avenue, Toronto
              </p>
              <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d2887.0969998987766!2d-79.3978621839159!3d43.64615017912164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x882b34c4a09db007%3A0xd25e75caab787c06!2sShopify%2C+80+Spadina+Ave%2C+Toronto%2C+ON+M5V+2J4!3m2!1d43.6461502!2d-79.3956735!5e0!3m2!1sen!2sus!4v1444873053125" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <p class="schedule">
                <strong>Schedule</strong>
              </p>
              <ul class="timeline">
                <li class="row">
                  <span class="time">12:45am - 1:00pm</span>
                  <span class="name">Registration</span>
                </li>
                <li class="row">
                  <span class="time">1:00pm - 1:30pm</span>
                  <span class="name">Presentations</span>
                </li>
                <li class="row">
                  <span class="time">1:30pm - 3:30pm</span>
                  <span class="name">Workshop Time</span>
                </li>
                <li class="row">
                  <span class="time">3:30pm - 4:00pm</span>
                  <span class="name">Demos</span>
                </li>
              </ul>
              <p class="additional">
                <strong>NodeSchool</strong> strives to be a welcoming and safe event for all attendees. Attendees should follow the <a href="#codeofconduct">code of conduct</a>. If you need further information about an event, please contact: <strong><a href="mailto:nodeschooltoronto@gmail.com" target="_blank">&#110;&#111;&#100;&#101;&#115;&#099;&#104;&#111;&#111;&#108;&#116;&#111;&#114;&#111;&#110;&#116;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></strong>
              </p>
            </div>

            <!-- mentors -->

            <h2 id="mentors">Mentors</h2>

            <p>If you want to help teach or contribute in anyway, make a <strong><a href='https://github.com/nodeschool/toronto/pulls'>Pull Request</a></strong>< and add your name to the list of available mentors.We also ask that you please read the <a href='https://github.com/nodeschool/organizers/wiki/Event-Mentor-Best-Practices#on-being-a-mentor'>"On Being a Mentor"</a> tips for <strong>NodeSchool Organizers</strong>.</p>

            <p>Mentors and Volunteers are currently contacted and confirmed, before each event, via our <a href='https://nodeschool-toronto-slackin.herokuapp.com/'>Slack Channel</a>.</p>

            <div class="list-mentors cf">

              <svg class="photos" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                  {% for mentor in site.mentors %}
                  <pattern id="{{mentor.name}}" width="300" height="300" patternUnits="userSpaceOnUse">
                    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="i/mentors/{{mentor.name}}.jpg" width="250" height="300" preserveAspectRatio="xMidYMid slice">
                    </image>
                  </pattern>
                  {% endfor %}
                </defs>
              </svg>

              {% for mentor in site.mentors %}
              <a href="https://twitter.com/{{mentor.twitter}}" target="_blank" class="mentor">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250 300" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polygon class="hex" points="250,75 250,225 125,300 0,225 0,75 125,0" fill="url('#{{mentor.name}}')"></polygon>
                </svg>
              </a>
              {% endfor %}

            </div>

            <h2 id="photos">Photos</h2>

            <div class="gallery">
              {% for i in (1..23) %}
              <a href="i/photos/{{i}}.jpg" target="_blank" class="image-wrapper">
                <div class="image" style="background-image: url(i/photos/{{i}}.jpg);"></div>
              </a>
              {% endfor %}
            </div>

          </div>
        </div>

      </aside>

    </main>

    <script type="text/javascript" src="https://js.tito.io/v1" async></script>

    <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
        analytics.load("rJ1NNJ4fWsQFYAmQ6BZ6q8ZyLHGZGBj1");
        analytics.page()
      }}();
    </script>
  </body>
</html>
